header, footer{
    background-color: blueviolet;
    color: blue;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.contenido1{
    background-color: brown;
}
.contenido2{
    background-color: green;
}
/* configurar main */
main{
    display: flex;
    flex-direction: column;
}
.columnas{
    padding: 20px;
    border: 2px;
    box-sizing: border-box;
    border-width: 2px;
}
/* configurar media para desktop laptops */
@media(max-width:520px){
    body{
        background-color: black;
    }
    main{
        flex-direction: row;
    }
    .columnas{
        width: 50%;
    }
}